#markdown-toc {
    display: none;
}
.page[post] {
    .label {
        margin-top: 16px;
        overflow: hidden;
        .label-card {
            float: left;
            margin-right: 15px;
            .point {
                padding: 0 10px;
                color: #9d9d9d;
            }
            i {
                padding-right: 5px;
                color: #6b6a6a;
            }
        }
    }
    a {
        color: #4d6dad;
        transition: 0.5s ease;
        &:hover {
            color: #223253;
            background-color: #f4efeb;
        }
    }
    .left {
        ul {
            >h2 {
                color: #333;
            }
            li {
                color: #333;
                margin: 0;
            }
        }
        // .post-recent {
        //     width: 100%;
        //     overflow: hidden;
        //     padding: 4px;
        //     .pre{
        //         width: 49%;
        //         float: left;
        //     }
        //     .nex{
        //         width: 49%;
        //         float: right;
        //         text-align: right;
        //     }
        //     p {
        //         min-height: 70px;
        //         box-sizing: border-box;
        //         padding: 10px;
        //         background-color: #fff;
        //         box-shadow: 0 0 4px 0px rgba(0,0,0,0.15);
        //     }
        // }
    }
}
@media screen and (max-width: 770px) {
    .page[post] {
        .left {
            font-size: 15px;
            h2 {
                font-size: 24px;
            }
            h3 {
                font-size: 20px;
            }
            h4 {
                font-size: 18px;
            }
            h5 {
                font-size: 16px;
            }
            h6 {
                font-size: 15px;
            }
        }
    }
}
*,*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.reward {
  padding: 5px 0;
  .reward-notice {
    font-size: 14px;
    line-height: 14px;
    margin: 15px auto;
    text-align: center;
  }
  .reward-button {
    font-size: 28px;
    line-height: 58px;
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    padding: 0;
    -webkit-user-select: none;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    border: 1px solid #f1b60e;
    border-radius: 50%;
    background: #fccd60;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#fccd60),color-stop(100%,#fbae12),color-stop(100%,#2989d8),color-stop(100%,#207cca));
    background: -webkit-linear-gradient(top,#fccd60 0,#fbae12 100%,#2989d8 100%,#207cca 100%);
    background: linear-gradient(to bottom,#fccd60 0,#fbae12 100%,#2989d8 100%,#207cca 100%);
    &:hover {
      .reward-code {
        display: block;
      }
    }
  }
  .reward-code {
    position: absolute;
    top: -220px;
    left: 50%;
    display: none;
    width: 350px;
    height: 200px;
    margin-left: -175px;
    padding: 15px;
    border: 1px solid #e6e6e6;
    background: #fff;
    box-shadow: 0 1px 1px 1px #efefef;
    span {
      display: inline-block;
      width: 150px;
      height: 150px;
      &.alipay-code {
        float: left;
        a {
          padding: 0;
        }
      }
      &.wechat-code {
        float: right;
      }
    }
    img {
      display: inline-block;
      float: left;
      width: 150px;
      height: 150px;
      margin: 0 auto;
      border: 0;
    }
    b {
      font-size: 14px;
      line-height: 26px;
      display: block;
      margin: 0;
      text-align: center;
      color: #666;
      &.notice {
        line-height: 2rem;
        margin-top: -1rem;
        color: #999;
      }
    }
    &:after {
      bottom: -19px;
      left: 50%;
      margin-left: -10px;
      border-top-color: #fff;
    }
    &:before {
      bottom: -20px;
      left: 50%;
      margin-left: -10px;
      border-top-color: #e6e6e6;
    }
  }
}
.reward .reward-code:after,.reward .reward-code:before {
  position: absolute;
  content: '';
  border: 10px solid transparent;
}
.dashang {
  display: inline-block;
  background-color: #00a8e6;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: serif;
  line-height: 25px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s;
  width: 120px;
  margin: 5px auto;
  padding: 5px;
  font-family: 'serif';
  &:hover {
    opacity: 0.8;
    padding: 15px;
    font-size: 18px;
  }
}
.hide_box {
  z-index: 999;
  filter: alpha(opacity=50);
  background: #666;
  opacity: 0.5;
  -moz-opacity: 0.5;
  left: 0;
  top: 0;
  height: 99%;
  width: 100%;
  position: fixed;
  display: none;
}
.shang_box {
  width: 500px;
  height: 500px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 55%;
  margin-left: -280px;
  margin-top: -280px;
  border: 1px dotted #dedede;
  display: none;
  img {
    border: none;
    border-width: 0;
  }
}
.shang_close {
  float: right;
  display: inline-block;
}
.shang_logo {
  display: block;
  text-align: center;
  margin: 20px auto;
}
.shang_tit {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 66px;
  color: #a3a3a3;
  font-size: 16px;
  background: url(/assets/img/social/cy-reward-title-bg.jpg);
  font-family: 'Microsoft YaHei';
  margin-top: 7px;
  margin-left: -20px;
  p {
    color: #a3a3a3;
    text-align: center;
    font-size: 16px;
    marign: 0 auto;
  }
}
.shang_payimg {
  width: 150px;
  padding: 10px;
  margin: 0 auto;
  border-radius: 3px;
  height: 150px;
  img {
    display: block;
    text-align: center;
    width: 150px;
    height: 150px;
  }
}
.pay_explain {
  text-align: center;
  margin: 10px auto;
  font-size: 12px;
  color: #545454;
}
.radiobox {
  width: 16px;
  height: 16px;
  background: url(/assets/img/social/radio2.jpg);
  display: block;
  float: left;
  margin-top: 5px;
  margin-right: 14px;
}
.checked {
  .radiobox {
    background: url(/assets/img/social/radio1.jpg);
  }
}
.shang_payselect {
  text-align: center;
  margin: 0 auto;
  margin-top: 40px;
  cursor: pointer;
  height: 60px;
  width: 280px;
  .pay_item {
    display: inline-block;
    margin-right: 10px;
    float: left;
  }
}
.shang_info {
  clear: both;
}
.shang_info p,.shang_info a {
  color: #c3c3c3;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  line-height: 2em;
}
.contactme {
  margin: 10px auto 0;
  border-radius: 4px;
  border: 1px solid #1bb3e9;
  color: #1bb3e9;
  display: block;
  text-align: center;
  font-family: "KaiTi";
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
}
.zanzhume {
  margin: 40px auto 0;
  border-radius: 4px;
  border: 1px solid #1bb3e9;
  color: #1bb3e9;
  display: block;
  text-align: center;
  font-family: "KaiTi";
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  width: 100px;
}
